@import '../constants.scss';

.members-about {
  display: flex;
  justify-content: center;
  
  .section {
    align-items: center;
    display: flex;
    justify-content: center;

    .content {
      h2 {
        font-size: 32px;
        margin-bottom: 15px;
      }
    }

    img {
      margin-right: 50px;
      width: 40%;
    }

    &.mobile {
      flex-flow: column;

      img {
        margin: 0 0 40px;
        max-width: 300px;
        width: 100%;
      }
    }
  }
}
