@import '../constants';

.member-grid {
  display: flex;
  justify-content: center;

  .section {
    display: grid;
    grid-auto-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    max-width: 1000px;

    @media only screen and (max-width: 720px) {
      grid-template-columns: repeat(1, 100%);
    }
  }
}
