@import '../constants';

.member-card {
  align-items: center;
  background: $charcoal-300;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  padding: 20px;

  .content {
    font-size: 14px;
    width: 100%;

    h3 {
      font-size: 18px;
    }

    a {
      text-decoration: none;
      width: min-content;

      &:hover {
        text-decoration: underline;
      }
    }

    .services {
      list-style-type: square;
      margin-left: 20px;
    }
  }

  .image {
    background-position: center;
    background-size: cover;
    height: 200px;
    margin: 0 0 20px;
    width: 160px;
  }
}
