@import './constants.scss';

@font-face {
  font-family: 'Avenir';
  font-weight: 1000;
  src: url(../fonts/Avenir-Black.ttf);
}
@font-face {
  font-family: 'Avenir';
  font-weight: 800;
  src: url(../fonts/Avenir-Heavy.ttf);
}
@font-face {
  font-family: 'Avenir';
  font-weight: 600;
  src: url(../fonts/Avenir-Medium.ttf);
}
@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  src: url(../fonts/Avenir-Book.ttf);
}

body {
  color: $charcoal-800;
  font-family: 'Avenir', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}
