@import './constants.scss';

.footer {
  display: flex;
  justify-content: center;
  width: 100vw;

  .section {
    align-items: center;
    color: $charcoal-400;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin: 100px 0 50px;

    ul {
      display: flex;

      &.mobile {
        display: block;
      }

      li {
        list-style: none;
        padding: 0 12px;
      }
    }
  }
}
