@import './constants.scss';

.home-member-cta {
  display: flex;
  justify-content: center;

  .section {
    align-items: center;
    background: #f6f7f8;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: center;

    h2 {
      font-size: 28px;
    }

    p {
      color: $charcoal-700;
      padding: 15px 0;
      text-align: center;
      width: 70%;
    }
  }
}
