@import './constants.scss';

.section-box {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;

  .box {
    background: $charcoal-300;
    border-radius: 4px;
    max-width: $content-max-width;
    padding: 40px 40px;
    width: $content-width;

    &.center {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &.mobile {
    .box {
      padding: 40px 30px;
    }
  }
}
