@import '../constants.scss';

.about {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  
  .section {
    display: flex;

    .thumbnail {
      background-position: center;
      background-size: cover;
      margin-right: 30px;
      width: calc(50% - 30px);
    }

    .content {
      width: 50%;

      h2 {
        font-size: 32px;
        margin-bottom: 15px;
      }

      ul {
        font-size: 14px;
        margin-left: 20px;
        margin-top: 15px;
      }
    }
    
    &.flip {
      flex-flow: row-reverse;
      
      .thumbnail {
        margin-left: 30px;
      }
    }

    &.mobile {
      align-items: center;
      flex-flow: column;

      .content {
        width: 100%;
      }

      .thumbnail {
        height: 300px;
        margin: 0 0 20px;
        max-width: 100vw;
        width: 100%;
      }
    }
  }
}
