@import '../constants.scss';

.about {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  
  .section {
    align-items: center;
    display: flex;
    justify-content: center;

    .content {
      h2 {
        font-size: 32px;
        margin-bottom: 15px;
      }

      ul {
        font-size: 14px;
        margin-left: 20px;
        margin-top: 15px;
      }
    }

    img {
      margin-right: 30px;
      width: calc(50% - 30px);
    }
    
    &.flip {
      flex-flow: row-reverse;
      
      img {
        margin-left: 30px;
      }
    }

    &.mobile {
      align-items: center;
      flex-flow: column;

      img {
        // height: 100vh;
        margin: 0 0 20px;
        max-height: 300px;
        max-width: 100vw;
        // width: 100%;
        width: auto;
      }
    }
  }
}
