@import '../constants';

.resources-content {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .section {
    max-width: 880px;

    .box {
      max-width: 880px;
    }

    ul {
      font-size: 14px;
      margin-left: 20px;
      margin-top: 8px;
    }
  }

  &.content-item {
    .section {
      max-width: 1000px;

      .box {
        max-width: 1000px;
      }

      ul {
        font-size: inherit;
      }
    }
  }
}
