@import '../constants';

.event-list {
  display: flex;
  justify-content: center;
  
  .section-box {
    margin: 20px 0 0;

    .box {
      max-height: 840px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 40px;
    }

    .quiet {
      text-align: center;
    }
  }

  &.mobile {
    .box {
      padding: 10px;
    } 

    .quiet {
      padding: 30px 10px;
    }
  }
}
