@import '../constants';

.event-list {
  display: flex;
  justify-content: center;

  .section {
    margin: 40px 0 0;
  }
  
  .section-box {
    margin: 0;
    padding: 0;

    .box {
      padding: 40px;
    }

    .quiet {
      text-align: center;
    }
  }

  &.mobile {
    .box {
      padding: 10px;
    } 

    .quiet {
      padding: 30px 10px;
    }
  }
}
